@-webkit-keyframes moveCircle {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  25% {
    top: 25px;
    left: 100px;
    -webkit-transform: scale(1.2) rotate(90deg);
            transform: scale(1.2) rotate(90deg);
  }
  50% {
    top: 50px;
    left: 200px;
    -webkit-transform: scale(1.4) rotate(180deg);
            transform: scale(1.4) rotate(180deg);
  }
  75% {
    top: 25px;
    left: 100px;
    -webkit-transform: scale(1.2) rotate(270deg);
            transform: scale(1.2) rotate(270deg);
  }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@keyframes moveCircle {
  0% {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  25% {
    top: 25px;
    left: 100px;
    -webkit-transform: scale(1.2) rotate(90deg);
            transform: scale(1.2) rotate(90deg);
  }
  50% {
    top: 50px;
    left: 200px;
    -webkit-transform: scale(1.4) rotate(180deg);
            transform: scale(1.4) rotate(180deg);
  }
  75% {
    top: 25px;
    left: 100px;
    -webkit-transform: scale(1.2) rotate(270deg);
            transform: scale(1.2) rotate(270deg);
  }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes rotateSquare {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateSquare {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes moveBallLeft {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(30deg) translateX(-35px);
            transform: rotate(30deg) translateX(-35px);
  }
}
@keyframes moveBallLeft {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(30deg) translateX(-35px);
            transform: rotate(30deg) translateX(-35px);
  }
}
@-webkit-keyframes moveBallRight {
  0% {
    -webkit-transform: rotate(-30deg) translateX(35px);
            transform: rotate(-30deg) translateX(35px);
  }
  50%, 100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
}
@keyframes moveBallRight {
  0% {
    -webkit-transform: rotate(-30deg) translateX(35px);
            transform: rotate(-30deg) translateX(35px);
  }
  50%, 100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
}
@-webkit-keyframes moveShadowLeft {
  0%, 50% {
    opacity: 0.7;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0.25;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}
@keyframes moveShadowLeft {
  0%, 50% {
    opacity: 0.7;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0.25;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}
@-webkit-keyframes moveShadowRight {
  0% {
    opacity: 0.25;
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50%, 100% {
    opacity: 0.7;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveShadowRight {
  0% {
    opacity: 0.25;
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50%, 100% {
    opacity: 0.7;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
* {
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  min-height: 100vh;
  background: linear-gradient(#edf2f2, #141515);
}

.header,
.main {
  padding: 0 calc(50vw - 580px);
}
@media screen and (max-width: 1200px) {
  .header,
  .main {
    padding: 0 calc(50vw - 480px);
  }
}
@media screen and (max-width: 992px) {
  .header,
  .main {
    padding: 0 calc(50vw - 420px);
  }
}
@media screen and (max-width: 768px) {
  .header,
  .main {
    padding: 0 15px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: 70%;
  height: 1px;
  background: linear-gradient(#848f8f, #596059);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}

.circle {
  position: relative;
  height: 300px;
}
.circle__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(45deg, #414441, #edf2f2);
  box-shadow: -4px 5px 7px 0px #3e5054;
  -webkit-animation: moveCircle 4s linear 2s infinite;
          animation: moveCircle 4s linear 2s infinite;
}
.circle__inner:hover {
  cursor: pointer;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.square {
  position: relative;
  margin: 20px 0;
  height: 280px;
}
.square__inner {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: #2f4b4b;
  overflow: hidden;
}
.square__inner::after {
  content: "Beetroot";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  color: #eef6f0;
  background: #804180;
  font-size: 1.22rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.square__inner::before {
  content: "";
  position: absolute;
  top: -42%;
  left: -42%;
  width: 170%;
  height: 170%;
  background: conic-gradient(#ffddff, #d5a0d5, #975a97, #860f86);
  -webkit-animation: rotateSquare linear 3s infinite;
          animation: rotateSquare linear 3s infinite;
}
.square__inner:hover::before {
  cursor: pointer;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.swing {
  display: flex;
}
.swing__item {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #9a929a;
}
.swing__item_left {
  -webkit-animation: moveBallLeft 0.5s ease-in-out infinite alternate;
          animation: moveBallLeft 0.5s ease-in-out infinite alternate;
}
.swing__item_right {
  -webkit-animation: moveBallRight 0.5s ease-in-out infinite alternate;
          animation: moveBallRight 0.5s ease-in-out infinite alternate;
}
.swing__item:first-of-type {
  background: linear-gradient(#7d8c8d 0%, #f2f4f5 100%);
}
.swing__item:nth-of-type(2) {
  background: linear-gradient(#5d6768 0%, #eaeef0 100%);
}
.swing__item:nth-of-type(3) {
  background: linear-gradient(#677171 0%, #dce1e4 100%);
}
.swing__item:nth-of-type(4) {
  background: linear-gradient(#606b6c 0%, #dce2e4 100%);
}
.swing__item:nth-of-type(5) {
  background: linear-gradient(#677171 0%, #dce1e4 100%);
}
.swing__item:nth-of-type(6) {
  background: linear-gradient(#5d6768 0%, #eaeef0 100%);
}
.swing__item:last-of-type {
  background: linear-gradient(#7d8c8d 0%, #f2f4f5 100%);
}

.shadow {
  padding-top: 25px;
  display: flex;
}
.shadow__item {
  width: 35px;
  height: 0.35em;
  border-radius: 50%;
  background: #739494;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.shadow__item_left {
  -webkit-animation: moveShadowLeft 0.5s ease-in-out infinite alternate;
          animation: moveShadowLeft 0.5s ease-in-out infinite alternate;
}
.shadow__item_right {
  -webkit-animation: moveShadowRight 0.5s ease-in-out infinite alternate;
          animation: moveShadowRight 0.5s ease-in-out infinite alternate;
}