@keyframes moveCircle {
    // to {}
    // from {}
    0% {
        top: 0;
        left: 0;
        transform: scale(1) rotate(0);
    }
    25% {
        top: 25px;
        left: 100px;
        transform: scale(1.2) rotate(90deg);
    }
    50% {
        top: 50px;
        left: 200px;
        transform: scale(1.4) rotate(180deg);
    }
    75% {
        top: 25px;
        left: 100px;
        transform: scale(1.2) rotate(270deg);
    }
    100% {
        top: 0;
        left: 0;
        transform: scale(1) rotate(360deg);
    }
}

@keyframes rotateSquare {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveBallLeft {
    0%,
    50% {
        transform: rotate(0) translateX(0);
    }
    100% {
        transform: rotate(30deg) translateX(-35px);
    }
}

@keyframes moveBallRight {
    0% {
        transform: rotate(-30deg) translateX(35px);
    }
    50%,
    100% {
        transform: rotate(0) translateX(0);
    }
}

@keyframes moveShadowLeft {
    0%,
    50% {
        opacity: 0.7;
        transform: translateX(0);
    }
    100% {
        opacity: 0.25;
        transform: translateX(-25px);
    }
}

@keyframes moveShadowRight {
    0% {
        opacity:  0.25;
        transform: translateX(25px);
    }
    50%,
    100% {
        opacity: 0.7;
        transform: translateX(0);
    }
}